<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Gerenciamento de Tarefas</li>
    </ol>
</nav>
<div class="container">
    <div class="card list-tarefa">
        <h5 class="card-header">Lista de Tarefas</h5>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Notas</th>
                        <th scope="col">Data Planejada</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tarefa of tarefas">
                        <td>{{tarefa.id}}</td>
                        <td>{{tarefa.titulo}}</td>
                        <td>{{tarefa.notas}}</td>
                        <td>{{tarefa.dataPlanejada}}</td>
                        <td>
                            <button type="button" class="btn btn-warning btn-sm" (click)="editTarefa(tarefa)">Editar</button>
                            <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteTarefa(tarefa)">Deletar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card add-tarefa">
        <h5 class="card-header">Adicionar/Atualizar Tarefas</h5>
        <div class="card-body">
            <form id="add-form" (ngSubmit)="f.form.valid && saveTarefa(f)" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="titulo">Titulo</label>
                    <input type="text" [(ngModel)]="tarefa.titulo" id="titulo" name="titulo" #titulo="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && titulo.invalid }" placeholder="Digite o titulo">
                </div>
                <div class="form-group">
                    <label for="notas">Notas</label>
                    <input type="text" [(ngModel)]="tarefa.notas" id="notas" name="notas" #notas="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && notas.invalid }" placeholder="Digite as notas">
                </div>
                <div class="form-group">
                    <label for="dataPlanejada">Data Planejada</label>
                    <input type="date" [(ngModel)]="tarefa.dataPlanejada" id="dataPlanejada" name="dataPlanejada" #dataPlanejada="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && dataPlanejada.invalid }" ng-model-options="{timezone: timezone}"
                        placeholder="Digite a data">
                </div>
                <button type="submit" class="btn btn-primary btn-add-tarefa">Salvar</button>
                <button type="reset" class="btn btn-secondary btn-add-tarefa" (click)="cleanForm(f)">Cancelar</button>
            </form>
        </div>
    </div>
</div>